
#booking-widget, #booking-widget input, #booking-widget .reserveport-form-wrap h3 {
    font-family: var(--chakra-fonts-bodyFont), sans-serif;
  }
  #app #booking-widget .reserveport-form-wrap {
      padding: 1rem;
      background: white;
      width: 80%;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin: 0 auto;
  }
  
  #occupancy-control {
    display: flex;
    justify-content: space-between;
  }
  #booking-widget .container .vue-search-box, #booking-widget .dropdown-menu button {
      padding: 0 !important;
  }
  #booking-widget .vue-md_p5 .btn-orange-solid {
      background: var(--chakra-colors-red-500);
      font-family: var(--chakra-fonts-bodyFont), sans-serif;
      text-transform: uppercase !important;
  }
  #booking-widget .vue-coupon_code_screen {
    max-width: fit-content;
  }